.contact {
  display: flex;
  background-color: white;

  .background-contact {
    width: 50vw;
    opacity: .2;
    margin-top: 40px;
    background-size: contain;
  }

  .contact-us {
    margin-top: 180px;

    .title-contact {
      margin-left: 80px;
    }

    p {
      font-size: 25px;
    }

    form {
      margin-top: 50px;
      margin-left: 40px;
      margin-right: 50px;

      .first {
        display: flex;
      }

      input {
        border: none;
        border-bottom: 1px solid $color_five;
      }

      .send {
        padding: 10px;
        width: 7vw;
        font-size: 15px;
        float: right;
        margin-right: 0;
        margin-top: 30px;
        border: 1px solid $color_five;
        background-color: white;
      }

      .errorContact {
        li {
          color: $color_six;
          list-style: none;
          font-size: 11px;
        }
      }
    }
  }
}

label {
  font-size: 16px;
}

.second {
  margin-top: 40px;

  label {
    textarea {
      margin-top: 10px;
      border: none;
      border-bottom: 1px solid $color_five;
    }
  }

  .errorsContact {
    li {
      list-style: none;
      color: $color_six;
      font-size: 12px;
    }
  }
}

footer {
  display: flex;
  justify-content: flex-end;
  background-color: white;

  .social-media {
    margin-right: 70px;

    img {
      margin-right: 20px;
    }
  }

  p {
    margin-right: 350px;
    font-size: 12px;
  }
}

.message {
  display: flex;
  justify-content: space-between;
}

.contacts{
  color:green;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 80px;
  width: 250px;

}


