.contact {
  display: flex;
  .background-contact {
    width: 50vw;
    opacity: .2;
    margin-top: 40px;
    background-size: contain;
  }
  .contact-us{
    margin-top: 180px;
    .title-contact{
      margin-left: 80px;
    }
    p{
      font-size: 25px;
    }
    form{
      margin-top: 50px;
      margin-left: 40px;
      margin-right: 50px;
      .first{
        display: flex;
      }
      input{
        width: 10vw;
        height: 4vh;
        border: none;
        border-bottom: 1px solid $color_five;
      }
      .message{
        height: 10vh;
        width: 23vw;
        text-align: center;
      }
      .send{
        width: 5vw;
        float: right;
        margin-right: 40px;
        margin-top: 30px;
        border: 1px solid $color_five;
        background-color: white;
      }
    }
  }
}
label{
  font-size: 16px;
}
.second{
  margin-top: 40px;
}

footer{
  display: flex;
  justify-content: flex-end;
  .social-media {
    margin-right: 70px;
    img {
      margin-right: 20px;
    }
  }
  p{
    margin-right: 350px;
    font-size: 12px;
  }
}

