.four_steps {
  position: relative;
  background-color: white;
  border: 1px solid white;

  .title-four {
    text-align: center;
    font-size: 30px;
    padding: 20px;
  }

  .decoration {
    position: absolute;
    right: 425px;
  }
}

.four-columns {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  background-color: $color_one;
  position: relative;

  .box-first, .box-two, .box-three, .box-four {
    width: 10vw;
    margin-bottom: 80px;

    .icon, .icon2, .icon3, .icon4 {
      position: absolute;
      top: 0;
      margin-top: 80px;
    }

    .steps {
      margin-top: 180px;
      text-align: center;
      font-size: 16px;
    }

    .line, .line2, .line3, .line4 {
      position: absolute;
    }

    p {
      margin-top: 15px;
      text-align: center;
    }
  }
}

.icon {
  left: 260px;
}

.icon2 {
  left: 435px;
}

.icon3 {
  right: 400px;
}

.icon4 {
  right: 200px;
}

.box-first {
  margin-left: 200px;
}

.box-four {
  margin-right: 150px;
}

.line {
  left: 265px;
}

.line2 {
  left: 455px;
}

.line3 {
  right: 400px;
}

.line4 {
  right: 210px;
}

.back-things {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 80px;

  p {
    border: 1px solid $color_five;
    text-align: center;
    font-size: 30px;
    width: 12vw;

    a {
      text-decoration: none;
      color: $color_five;
    }
  }
}