.logout {
  background-color: white;
  border: 1px solid white;

  button {
    width: 120px;
    height: 50px;
    border: 1px solid $color_five;
    background-color: white;
    position: relative;
    margin-right: 240px;
    left: 490px;
    margin-top: 40px;
    margin-bottom: 180px;
    font-size: 16px;

    a {
      text-decoration: none;
      color: $color_five;
    }
  }
}

.logout-title {
  text-align: center;
  margin-top: 100px;

  h1 {
    width: 300px;
    position: relative;
    left: 400px;
    margin-bottom: 20px;
  }
}