.organizations {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  .who {
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 10px;
  }

  .fundation {
    display: flex;
    margin-top: 20px;
    justify-content: center;

    p {
      width: 14vw;
      font-size: 20px;
      text-align: center;
      margin-right: 15px;
      margin-left: 20px;
    }
  }
}
.local-text {
  text-align: center;
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 70px;
  width: 46vw;
  p {
    font-size: 18px;
  }
}
